[include]
	path = .gitconfig.local
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[color]
	ui = auto
	diff = auto
[alias]
	pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
	graph = log --graph --oneline --decorate=full
[ghq]
	root = ~/src

[commit]
	template = /Users/s_sugawara/.gitmessage.txt
