[include]
	path = .gitconfig.local
[push]
	default = simple
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[color]
	ui = auto
	diff = auto
[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less
[interactive]
  diffFilter = diff-highlight
[alias]
	pr-setup = config --add remote.origin.fetch +refs/pull/*/head:refs/remotes/origin/pr/*
	graph = log --graph --oneline --decorate=full
	unstage = reset HEAD --
[ghq]
	root = ~/src

[commit]
	template = ~/.gitmessage.txt
[rebase]
	autosquash = true
